# 层次化索引

In [3]:
import numpy as np
import pandas as pd

data = pd.Series(np.random.uniform(size=9), index=[['a', 'a','a', 'b', 'b', 'c', 'c', 'd', 'd'], [1, 2, 3, 1, 2, 3, 1, 2, 3]])
data

a  1    0.030254
   2    0.143585
   3    0.495947
b  1    0.331285
   2    0.696462
c  3    0.501725
   1    0.149158
d  2    0.604269
   3    0.266872
dtype: float64

In [4]:
data.index # 结果有两列索引

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 2),
            ('c', 3),
            ('c', 1),
            ('d', 2),
            ('d', 3)],
           )

In [6]:
# 可以通过访问部分索引的方式获取子集
print(data['a'])
print(data[:, 2])

1    0.030254
2    0.143585
3    0.495947
dtype: float64
a    0.143585
b    0.696462
d    0.604269
dtype: float64

In [7]:
# 转为DataFrame
data.unstack()

          1         2         3
a  0.030254  0.143585  0.495947
b  0.331285  0.696462       NaN
c  0.149158       NaN  0.501725
d       NaN  0.604269  0.266872

In [8]:
# 转会Series
data.unstack().stack()

a  1    0.030254
   2    0.143585
   3    0.495947
b  1    0.331285
   2    0.696462
c  1    0.149158
   3    0.501725
d  2    0.604269
   3    0.266872
dtype: float64

In [9]:
d = data.unstack()
d.loc[:, [1, 2]] # 选取部分列

          1         2
a  0.030254  0.143585
b  0.331285  0.696462
c  0.149158       NaN
d       NaN  0.604269